.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #f9f9f9;
  padding: 10px;

}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8); 
  border: 1px solid rgba(0, 0, 0, 0.8); 
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #f9f9f9;
} 